 // Styles for first example
.first-example .wrap-block{
	background: #774CE7;
	border-radius: 5px;
	padding: 120px 10px 85px;
	color: #BBE9FD;
	max-width: 750px;
	margin: 0 auto;
	form{
		max-width: 475px;
		margin: 0 auto;
	}
}
.first-example .form-control, .first-example .input-group-text{
	background-color: #817CFB;
	border: none;
}

.first-example button{
	background: #FF86EB;
	border: none;
	color: #fff;
	&:hover{
		background: #FF86EB;
		box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	}
}
.first-example .row-wrap-for-all-input{
	padding-bottom: 35px;
}
.first-example .one-block-for-all-divided-input{
	background: #7F7FF6;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding-left: 10px;
	margin-bottom: 20px;

}
.first-example .wrap-for-input{
	font-size: 20px;
	padding: 3px;
	border-bottom: 1px solid #8A88FF;
	&:last-child{
		border-bottom: none;
	}
	label{
		color: #BBE9FD;
		padding-left: 0;
	}
	.input-group-prepend{
		width: 90px;
	}
}

.first-example .block-for-validate-errors{
	width: 100%;
	height: 40px;
	padding-top: 20px;
	p{
		text-align: center;
	}
}

.first-example .line-for-several-input{
	background: #7F7FF6;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	i{
		font-size:20px;
		color: #BAE9FC;
	}
	.form-control{
		padding: .375rem 0;
		border-radius: 0;
	}
}
.first-example .icon-for-card{
	width: 12%;
}
.first-example .block-for-card-number{
	width: 56%;
}
.first-example .block-for-expiration-card{
	width: 20%;
}
.first-example .block-for-cvv-card{
	width: 12%;
}

//  END Styles for first example